<%- include('header'); -%>

<h2>About Page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam laborum nostrum neque omnis vero in nulla non iure laboriosam. Nulla.</p>

<%- include('footer'); -%>